@font-face {
	font-family: font;
	src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: font;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	background-color: #27e3da;
	color: #fff;
	font-size: 18px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	absolute;
	Left: 50%;
	Top: 50%;
	Transform: translate(-50%,-50%);
}

a {
	text-decoration: none;
	color: #fff;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	outline: none;
	color: #fff;
}

.image {
	display: flex;
	margin-top: 50px;
	border-radius: 50%;
}

.name {
	font-size: 3em;
	margin-top: -25px;
	margin-bottom: 25px;
}

p {
	margin-bottom: 50px;
}

.icons img {
	position: relative;
	height: 20px;
	width: auto;
	top: -2px;
}

.icons a:not(:last-of-type) {
	margin-right: 20px;
}

#show {
	cursor: default;
}

#show span#one {
	display: inline-block;
}

#show:hover span#one {
	display: none;
}

#show span#two {
	display: none;
}

#show:hover span#two {
	display: inline-block;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #fff;
} 
